<!-- <h1>{{ title | uppercase }}</h1>

<h1>{{ count }}</h1>

<h1>{{ dcValue | number: "1.2-2" }}</h1>

<h1>{{ price | currency: "EUR":false:"2.1-1" }}</h1> -->

<!-- <h1>{{ today | date: "shortDate" }}</h1>

<h1>{{ postObj | json }}</h1> -->

<!-- <h3>{{ 5 | percent: "1.1-1" }}</h3> -->

<!-- <h3>{{ postArray | slice: 2:4 }}</h3> -->

<!--Custom Pipe   -->

<!-- <h3>{{ userdetails.city | append }}</h3>

<h3>{{ userdetails.city | appendCLI }}</h3> -->

<!--  Custom Pipes with Arguments -->

<p>{{ dummyText | summary: 50 }}</p>
